@model IEnumerable<Cet322_FinalProject.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

            @foreach (var subTodo in Model.Where(x => x.Id == item.Id).FirstOrDefault().SubTodos)
            {
                <tr>
                    <td style="padding-left:50px;">
                        @Html.DisplayFor(modelItem => subTodo.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => subTodo.isComplete)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
